html,
body {
  min-height: 100%;
  background-image: url("../../public/bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/* styles/FullCalendar.css */

/* Basic styling for FullCalendar */
.fc {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #6b6b6b;
  background-color: #ffffff63;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 1%;
}

/* Event styling */
.fc-event {
  cursor: pointer;
  background-color: #424B54;
  color: #000000;
  padding: 2px 4px;
  margin: 2px;
  border-radius: 3px;
  font-weight: normal !important; /* Add !important */
}

.fc-event-main {
  cursor: pointer !important;
  font-weight: normal !important; /* Add !important */
  color: #000000 !important;
}
.fc-event-title{
  font-weight: normal !important; /* Add !important */

}
.fc-event-time{
  font-weight: normal !important; /* Add !important */

}
.fc-h-event{
border:none !important;
cursor: pointer;
background-color: #424B54;
color: #000000;
padding: 2px 4px;
margin: 2px;
border-radius: 3px;
}
.fc-v-event{
  border:none !important;
}
.bg-Personal { background-color: #FFB6C1; } /* Pastel Pink */
.bg-Business { background-color: #AEC6CF; } /* Pastel Blue */
.bg-Family { background-color: #98FB98; } /* Pastel Green */
.bg-Holiday { background-color: #F0E68C; } /* Pastel Yellow */
.bg-ETC { background-color: #c0ffec; } /* Pastel Pink */
.fc-event:hover {
  background-color: #C0C0C0; /* Light Gray */
  border-color: #C0C0C0;
}

/* Day cell styling */
.fc-day {
  position: relative;
  min-height: 80px; /* Adjust as needed */
  border: 1px solid #ddd;
  padding: 5px;
  cursor: pointer;
}

/* Today cell styling */
.fc-day-today {
  background-color: #f0f0f0;
}

/* Header styling */
.fc-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  

}

.fc-button {
  background-color: #F4C18B;
  color: #fff;
  border: 1px solid #F4C18B;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;

}

.fc-button:hover {
  background-color: #4f98e7;
  border-color: #000000;
}
[aria-pressed="true"].fc-button {
  border: 2px solid black !important; /* Replace 'red' with your desired border color */
  /* Additional border styles can be added here, such as border-radius, padding, etc. */

}

/* Prev/Next buttons styling */
.fc-prev-button,
.fc-next-button {
  background-color: #264653 !important;
  color: #fff !important;
  border: 1px solid #758696 !important;
  padding: 5px 10px !important;
  margin: 0 2px !important;
  cursor: pointer !important;
}

.fc-prev-button:hover,
.fc-next-button:hover {
  background-color: #758696 !important;
  border-color: #758696 !important;
}
.fc-toolbar-chunk{
  color: #264653;

}
.fc-today-button {
  background-color: #264653 !important;
  color: #fff !important;
  border: 1px solid #264653 !important;
  padding: 5px 10px !important;
  margin: 0 2px !important;
  cursor: pointer !important;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  line-height: 1.75 !important;
  letter-spacing: 0.02857em !important;
  text-transform: uppercase !important;

}

.fc-today-button:hover {
  background-color: #C5BAAF !important;
  border-color: #C5BAAF !important;
  color:#000 !important
}
/* Month button styling */
.fc-dayGridMonth-button {
  background-color: #264653 !important;
  color: #fff !important;
  padding: 5px 10px !important;
  margin: 0 2px !important;
  cursor: pointer !important;
  border: none !important;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  line-height: 1.75 !important;
  letter-spacing: 0.02857em !important;
  text-transform: uppercase !important;
}

.fc-dayGridMonth-button:hover {
  background-color: #C5BAAF !important;
  color:#000 !important

}

/* Week button styling */
.fc-timeGridWeek-button {
  background-color: #264653 !important;
  color: #fff !important;
  border: 1px solid #264653 !important;
  padding: 5px 10px !important;
  margin: 0 3px !important;
  cursor: pointer !important;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  line-height: 1.75 !important;
  letter-spacing: 0.02857em !important;
  text-transform: uppercase !important;
}

.fc-timeGridWeek-button:hover {
  background-color: #C5BAAF !important;
  border-color: #C5BAAF !important;
  color:#000 !important

}

/* Day button styling */
.fc-timeGridDay-button {
  background-color: #264653 !important;
  color: #fff !important;
  border: 1px solid #264653 !important;
  border-radius: 3px;
  padding: 5px 10px !important;
  margin: 0 2px !important;
  cursor: pointer !important;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  line-height: 1.75 !important;
  letter-spacing: 0.02857em !important;
  text-transform: uppercase !important;
}

.fc-timeGridDay-button:hover {
  background-color: #C5BAAF !important;
  border-color: #C5BAAF !important;
  color:#000 !important

}

.fc table {
  border-color: #424B54 !important;
}

/* Day cells border styling */
.fc-daygrid-day-frame {
  border-color: #264653 !important;
}

.fc-view-harness {
  border-color: #264653 !important;
}

/* Day cells border styling */

/* Table grid styling */
.fc-scrollgrid {
  border: 1px solid #264653 !important;
}

/* Each day in the calendar styling */
.fc-day {
  border: 1px solid #264653 !important;
}

.react-datepicker-wrapper .datePicker {
  width: 100%;
}
.react-datepicker__input-container {
  width: 100%;

}
.react-datepicker-ignore-onclickoutside{
  width: 100%;

}
.react-datepicker-popper .react-datepicker__time-list {
  height: 170px !important; /* Or any other desired height */
  overflow-y: auto; /* Add scrollbars if needed */
}
.react-datepicker__day.react-datepicker__day--014.react-datepicker__day--today {
  border-radius: 50% !important; /* This creates a perfect circle */
  /* Additional styling if needed */
}
.icon-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px; /* Adjust padding as needed */
  z-index: 1; /* Ensure the icon appears above the background */
}

/* Style your SVG icon as needed */
.icon-container img {
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
}

@media (max-width: 768px) {
  /* Override styles for mobile view */

  /* Basic styling for FullCalendar */
  .fc {
    padding: 0; /* Remove padding */
    height: 100vh;
  }

  /* Day cell styling */
  .fc-day {
    min-height: 60px; /* Adjust min-height for smaller screens */
  }

  /* Event styling */
  .fc-event {
    padding: 1px 2px; /* Adjust padding for smaller screens */
    margin: 1px; /* Adjust margin for smaller screens */
  }

  /* Header styling */
  .fc-toolbar {
    flex-direction: column; /* Stack toolbar items vertically */
    align-items: center; /* Center align toolbar items */
  }
  .fc-toolbar-chunk{
    font-size: 10px;
  }

  /* Toolbar button styling */
  .fc-button {
    margin: 5px 0; /* Adjust margin for smaller screens */

  }
  .fc-toolbar-chunk{
    margin-bottom: 5px !important;
  }
  .fc-dayGridMonth-button {
    height: 30px;
    font-size: 0.8rem !important;
  }
  .fc-timeGridWeek-button {
    height: 30px;
    font-size: 0.8rem !important;
  }
  .fc-timeGridDay-button {
    height: 30px;
    font-size: 0.8rem !important;
  }
  .fc-today-button{
    height: 30px;
    font-size: 0.8rem !important;
  }

}

